page-login {
    ion-content{
    
  
      background-image: linear-gradient(to right, white , violet);
            background-size:cover;
      text-align: center; 
    }
     img{
      margin-top: 30px;
      width: 120px;
    }
    button{
      -webkit-box-shadow: 0 10px 30px 0 rgpa(95,186,233,0.4);
      box-shadow: 0 10px 30px 0 rgpa(95,186,233,0.4);
      margin: 0px;
      
   
  
    }
    form {
      margin-bottom: 32px;
      button {
        margin-top: 20px !important;
      }
    }

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    ion-label {
      margin-left: 5px;
    }

    ion-input {
      padding: 5px;
    }

    .invalid {
      border-bottom: 1px solid #ff6153;
    }

    .error-message {
      min-height: 2.2rem;
      p {
        font-size: 60%;
      }
      ion-label {
        margin: 2px 0;
      }
      .item-inner {
        border-bottom: 0 !important;
      }
    }
  }